<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="signupForm" (ngSubmit)="onInscription()" >
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text"
                 id="email"
                 formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pass</ion-label>
      <ion-input type="password"
                 id="password"
                 formControlName="password"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="signupForm.invalid">
        S'inscrire
      </ion-button>
    </div>
  </form>

</ion-content>
