<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="signinForm" (ngSubmit)="onConnexion()" *ngIf="!isAuth">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text"
                 id="email"
                 formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pass</ion-label>
      <ion-input type="password"
                 id="password"
                 formControlName="password"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="signinForm.invalid">
        Se connecter
      </ion-button>
      <ion-button color="light" routerLink="inscription">
        Inscription
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </div>
  </form>

  <div *ngIf="isAuth">
    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Votre profil</ion-label>
        <ion-button fill="outline" (click)="onSignOut()" >Déconnexion</ion-button>
      </ion-item>

      <ion-card-content>
        Vous êtes connecter depuis votre adresse email: <br>
        <a >{{ userConnecter.email }}</a>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
